button{
  width: 35%;
  padding-top: 2%;
  font-size: 1rem;
  margin-top: 1%;
  background: rgba(185, 161, 161, 0.507);
    &:hover{
      background: rgb(233, 156, 156);
      border: 2px solid red;
    }
}

.Actions{
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: flex-start;
}

h1{
 margin: 0 auto;
 font-size: 5rem;
}